*{
    margin: 0;
}

.container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    flex-direction: column;
}

#joystick{
    display: none;
}

@media (max-width:800px) {
    #joystick{
        display: block;
        position: absolute;
        top:75%;
        left: 15%;
        z-index: 1;
        border-radius:50%;
    }
}
