* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.game-frame {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10%;
    background-color: rgb(105, 255, 250);
    font-family: "Poppins", sans-serif;
}

.dice-frame {
    box-shadow: 0 15px 25px rgba(50, 50, 50, 0.15);
    border-radius: 10px;
    width: 10vw;
    height: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(233, 204, 39);
}

.board {
    width: 90vh;
    height: 90vh;
    background: url(img/board.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr)
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cir {
    width: 100%;
    height: 100%;
    transform: scale(0.6);
    border-radius: 100%;
    opacity: 90%;
}

.dice {
    width: 60%;
}

.btn-box {
    width: 80%;
}

.btn {
    background-color: #e92e3d;
    border: none;
    color: #ffffff;
    padding: 8% 2%;
    margin: 0;
    width: 100%;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
}

@keyframes shake {
    0% {
        transform: rotate(8deg);
    }

    50% {
        transform: rotate(-8deg);
    }

    100% {
        transform: rotate(8deg);
    }
}

.shake {
    animation: shake 0.5s infinite;
}

.text1 {
    color: black;
    width: 100%;
    text-align: center;
}

.text2 {
    color: white;
}

#frame2 {
    background-color: rgb(55, 55, 226);
}

.btn-dis {
    background-color: #e3848cfe;
}

.msg-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 40vh;
    font-size: 18px;
    padding: 0% 2%;
    background-color: yellow;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 15px #00000044;
    border-radius: 5px;
    row-gap: 7%;
}

.ok-btn {
    align-self: flex-end;
    padding: 1% 2%;
    cursor: pointer;
}

#pl1 {
    display: none;
}

#pl2 {
    display: none;
    color: white;
    background-color: rgb(55, 55, 226);
}

.switch {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2%;
    left: 2%;
}

.switch-btn {
    background-color: rgb(200, 200, 200);
    border: none;
    padding: 5% 4%;
    border-radius: 5px;
    cursor: pointer;
}

@media only screen and (max-width : 1175px) {
    .game-frame {
        column-gap: 5%;
    }
}

@media only screen and (max-width : 1050px) {
    .dice-frame {
        width: 12vw;
        height: 18vw;
    }

    .msg-box {
        font-size: 15px;
    }
}

@media only screen and (max-width : 850px) {

    .text1,
    .text2 {
        display: none;
    }

    .dice-frame {
        justify-content: center;
    }

    .msg-box {
        font-size: 13px;
    }
}

@media only screen and (max-height : 300px) {
    .switch-btn {
        font-size: 11px;
    }
}